<div class="container">
  <div class="row">
    <%= form_with model: task do |f| %>
      <div class="form-group py-2">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control"%>
      </div>
      <div class="form-group py-2">
        <%= f.label :details %>
        <%= f.text_field :details, class: "form-control"%>
      </div>
      <div class="form-group py-2">
        <%= f.label :completed %>
        <%= f.check_box :completed %>
      </div>
        <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
